@use "variables";

@mixin button {
    font-size: 1.5rem;
    transition: all 0.2s linear;
    border: 3px solid;
    border-radius: 0.5rem;
    font-weight: bold;

    &:hover {
        transform: scale(1.005);
        cursor: pointer;
    }
}

@mixin light-button {
    @include button;
    border-color: variables.$primary-color;
    color: variables.$primary-text;
    background: variables.$primary-color;

    &:hover {
        color: variables.$primary-text;
        background: variables.$darkest-background;
    }
}

@mixin dark-button {
    @include button;
    border-color: variables.$primary-text;
    color: variables.$primary-text;
    background: none;
    box-shadow: variables.$glow-shadow,
        inset 0px 0px 30px 0px rgba(255, 255, 255, 0.3);
    text-shadow: variables.$glow-text;

    &:hover {
        color: variables.$darkest-background;
        background-color: variables.$primary-text;
    }
}
