@use "variables";

html, body {
    background-color: variables.$background-color;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: variables.$primary-text;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    position: relative;
    width: 5px;
    right: 10px;
}

::-webkit-scrollbar-thumb {
    background: variables.$primary-text;
    border-radius: 10px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 20vh 0;
    gap: 40vh;
}

section {
    width: 70%;

    h1 {
        font-size: 3rem;
        margin-bottom: 5vh;
    }

    p {
        font-size: 1.5rem;
    }
}