@use "variables";

html,
body {
    background-color: variables.$background-color;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: variables.$primary-text;
    font-size: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
    // background-color: black;
}

#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    position: relative;
    width: 5px;
    right: 10px;
}

::-webkit-scrollbar-thumb {
    background: variables.$primary-text;
    border-radius: 10px;
}

main {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    text-shadow: variables.$glow-text;

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 5vh;
        margin-top: 0;
    }

    p {
        text-align: center;
        font-size: 1.5rem;
    }
}

.nav-button {
    position: absolute;
    top: 3vh;
    right: 3vw;
    
    svg {
        width: 80px;

        filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}
