@use "variables";
@use "mixins";

section {
    width: 70%;

    h1 {
        font-size: 3rem;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
    }

    button {
        @include mixins.light-button;

        width: 20%;
        height: 7vh;
    }
}