@use "variables";
@use "mixins";

.skills-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    h1 {
        width: 100%;
        text-align: left;
    }

    .skill-container {
        --g: 10px;
        --s: calc((70vw / 3) - var(--g));
        position: relative;
        margin: calc(var(--s) + var(--g));
        margin-top: 0;
        display: grid;
        width: var(--s);

        .skill-item {
            grid-area: 1/1;
            width: var(--s);
            aspect-ratio: 1 / 1;
            clip-path: polygon(
                0% 25%,
                0% 75%,
                50% 100%,
                100% 75%,
                100% 25%,
                50% 0
            );
            background-color: variables.$primary-text;
            transform: translate(var(--_x, 0), var(--_y, 0));
        }
        

        .skill-item:nth-child(1) {
            --_x: calc(-100% - var(--g));
        }

        .skill-item:nth-child(3),
        .skill-item:nth-child(5) {
            --_y: calc(75% + 0.87 * var(--g));
        }
        .skill-item:nth-child(6) {
            --_y: calc(75% + 0.87 * var(--g));
        }
        .skill-item:nth-child(3) {
            --_x: calc(-50% - 0.5 * var(--g));
        }
        .skill-item:nth-child(5),
        .skill-item:nth-child(6) {
            --_x: calc(50% + 0.5 * var(--g));
        }
        .skill-item:nth-child(4) {
            --_x: calc(100% + var(--g));
        }
    }
}
