@use "../styles/variables";
@use "../styles/mixins";

.about-section {
    display: flex;
    flex-flow: column nowrap;
    width: 60vw;

    p {
        margin: 0;
        margin-bottom: 5vh;
        text-align: left;
    }

    .social-link-container {
        display: flex;
        gap: 3rem;

        .social-link {
            @include mixins.dark-button;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            aspect-ratio: 1;

            svg {
                width: 70%;
                height: 70%;
                aspect-ratio: 1;
            }
        }

        button {
            @include mixins.dark-button;
            flex-grow: 1;

        }
    }
}
