@use "../styles/variables";
@use "../styles/mixins";

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    perspective: 500px;
    transform-style: preserve-3d;
}

.carousel-button {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;

    &.left {
        left: 0;
        transform: translateY(-50%);
    }

    &.right {
        right: 0;
        transform: translateY(-50%);
    }
}

.projects-container {

}